<div class="animated fadeInUp footer">
			<div class="container">
				<div class="row">
					<div class="clearfix abuot-row">
						<div class="col-md-1 col-xs-6">
							<div class="row">
								<h2>关于我们</h2>
								<a href="http://www.yitutech.com/intro/">我们的团队</a>
								<a href="http://www.yitutech.com/news/">媒体报道</a>
								<a href="http://www.yitutech.com/joinus/">加入我们</a>
							</div>
						</div>
						<div class="col-md-1 mrl40  col-xs-6">
							<div class="row">
								<h2>客户案例</h2>
								<a href="http://www.yitutech.com/case/">智能安防</a>
								<a href="http://www.yitutech.com/case/">金融</a>
								<a href="http://www.yitutech.com/case/">民生</a>
							</div>
						</div>
						<div class="col-md-4  col-xs-12">
							<div class="row">
								<h2>联系我们</h2>
								<p><span>上海：</span>上海市长宁区娄山关路523号金虹桥国际中心1座23F
									<br> 总机：021 - 52559588</p>
								<p><span>北京：</span>北京市海淀区科学院南路2号融科资讯中心C座北楼501-505
									<br> 总机：010 - 83433999</p>
								<p><span>杭州：</span>杭州市西湖区古墩路83号浙商财富中心4号楼406室 <br> 总机：0571 - 8731 7518</p>
							</div>
						</div>
						<div class="col-md-3  col-xs-12">
							<div class="row">
								<h2>商务合作</h2>
								<p><span>商务合作：</span>marketing@yitu-inc.com<br> 010 - 5624 9590</p>
								<p><span>媒体采访：</span>media@yitu-inc.com</p>
								<p><span>投递简历：</span>hr@yitu-inc.com </p>
							</div>
						</div>
						<div class="col-md-2">
							<div class="row">

								<div class="text-right"><span><h2>关注我们</h2><img src="http://www.yitutech.com/statics/yitu/images/erweim-2.png"></span><span class="wx"><img src="http://www.yitutech.com/statics/yitu/images/erweim-1.png"></span></div>
							</div>
						</div>
					</div>
					<div class="foot">
						<p>版权所有 © 上海依图网络科技有限公司 2012-2018 沪ICP备14000593号-2</p>
					</div>
				</div>
			</div>
		</div>