<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<title>海外帮科技</title>
		<meta name="description" content="依图从事人工智能创新性研究，致力于将先进的人工智能技术与行业应用相结合，拓展人工智能新疆界。具备国际视野的世界一流研发团队，致力于解决机器看、听、理解等根本问题，在计算机视觉、自然语言理解、知识推理、智能硬件、机器人等领域作出突破性贡献。" />
		<meta name="keywords" content="依图,依图科技,yitu,人工智能,机器视觉,人脸识别,智慧医疗" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="http://www.yitutech.com/statics/yitu/js/jquery.min.js"></script>
		<link rel="stylesheet" href="http://www.yitutech.com/statics/yitu/css/style.css">
	</head>

	<body class="index">
		<div class="navbar">
			<div class="container">
				<div class="navbar-header animated fadeInDown">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
     <span class="glyphicon glyphicon-align-justify"></span>
     </button>
					<a href="/" title="依图 | YITU 拓展人工智能新疆界" class="navbar-brand">依图 | YITU 拓展人工智能新疆界</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="/" title="依图 | YITU 拓展人工智能新疆界">首页</a>
						</li>
						<li class=' dropdown'>
							<a href="http://www.yitutech.com/corebusiness/" class="core">核心业务<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li>
									<a href="http://www.yitutech.com/corebusiness/4.html" title="智能安防">智能安防</a>
								</li>
								<li>
									<a href="http://www.yitutech.com/corebusiness/2.html" title="依图医疗">依图医疗</a>
								</li>
								<li>
									<a href="http://www.yitutech.com/corebusiness/9.html" title="智慧金融">智慧金融</a>
								</li>
								<li>
									<a href="http://www.yitutech.com/corebusiness/3.html" title="智慧城市">智慧城市</a>
								</li>
								<li>
									<a href="http://www.yitutech.com/corebusiness/1.html" title="智能硬件">智能硬件</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="http://www.yitutech.com/news/">媒体报道</a>
						</li>
						<li>
							<a href="http://www.yitutech.com/case/">客户案例</a>
						</li>
						<li>
							<a href="http://www.yitutech.com/intro/">关于我们</a>
						</li>
						<li class=' dropdown'>
							<a href="http://www.yitutech.com/joinus/" class="core">加入依图<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li>
									<a href="http://www.yitutech.com/joinus/world/144.html" title="社会招聘">社会招聘</a>
								</li>
								<li>
									<a href="http://www.yitutech.com/joinus/campus/125.html" title="校园招聘">校园招聘</a>
								</li>
							</ul>
						</li>
						<script>
							document.write('<script src="/index.php?g=Member&a=Loginjs"><' + '/script>');
						</script>
						<li class="language">
							<a href="/en/" class="en active">English</a>
						</li>
					</ul>

				</div>
			</div>
			<div id="progress"></div>
		</div>