<extend name="Public:base" />
<block name="navbar">
    <h3>
        <i class="fa fa-wrench"></i>{$caption}</h3>
    <em>
        <a href="{:U('Vote/index')}"><i class="fa fa-list"></i>列表</a>
    </em>
</block>
<block name="content">
    <div class="modbox">
        <div class="modbox-body">
                <table class="formtable" width="100%">
                    <tbody>
                        <tr>
                            <th>
                                标题：</th>
                            <td>
                                {$data.title}
                            </td>
						</tr>
						<tr>
                            <th>类型：</th>
                            <td>
                                <if condition="$data.style eq 1"> 单选 <else /> 多选</if>
                            </td>
                        </tr>
                        <tr><th>发布时间：</th><td>{$data.addtime|date='Y-m-d H:i:s',###}</td></tr>
                        <tr>
                            <th>
                                投票人次：</th>
                            <td>
                               {$data.votenum}
                            </td>
						</tr>
                        <tr>
                            <th>说明：</th>
                            <td>
                                {$data.memo}
                            </td>
                        </tr>
						<tr><th>状态：</th><td><eq name="data.status" value="1"> 开启</eq> </td></tr>
                        <tr>
                            <th>投票项：</th>
                            <td colspan="3">
                                <table id="itemlist" class="minortable">
                                    <tr>
                                        <th style="width:200px">标题</th>
                                        <th style="width:100px">投票数</th>
                                        <th style="width:80px">排序</th>
                                    </tr>
                                    <volist name="itemList" id="v">
                                        <tr>
                                            <td>
                                                {$v.title}
                                            </td>
                                            <td>
                                                {$v.votenum}
                                            </td>
                                            <td>
                                                {$v.sortno}
                                            </td>
                                        </tr>
                                    </volist>

                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>
</block>