<extend name="Public:dialog" />
<block name="content">
    <div class="freebox">
        <div class="freebox-head"><h3><i class="fa fa-edit"></i>关注</h3><em><a href="javascript:;" class="close"><i class="fa fa-close"></i></a></em></div>
        <div class="freebox-body">
            <table class="listtable">
                <thead>
                <tr><th>编号</th><th>评价人</th><th>交易</th><th>评星</th><th>评价</th><th>评价时间</th></tr>
                </thead>
                <tbody>
                <volist name="list" id="item">
                    <tr><td>{$item.other.id}</td><td>{$item.memname}</td><td>{$item.tradetitle}</td><td>{$item.mark}</td><td>{$item.content}</td><td>{$item.addtime|date='Y-m-d H:i:s',###}</td></tr>
                </volist>

                </tbody>
            </table>
            <div class="pages">{$multi}</div>
        </div>
    </div>
</block>
<block name="script">
</block>
