<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<title>关于我们 | 海外帮科技</title>
		<meta name="description" content="" />
		<meta name="keywords" content="关于我们" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="http://www.yitutech.com/statics/yitu/js/jquery.min.js"></script>
		<link rel="stylesheet" href="http://www.yitutech.com/statics/yitu/css/style.css">
		<link rel="stylesheet" href="__ROOT__/assets/home/style.css">
	</head>

	<body class="column-intro">
		<div class="navbar">
			<div class="container">
				<div class="navbar-header animated fadeInDown">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
     <span class="glyphicon"></span>
     </button>
					<a href="/" title="海外帮科技" class="navbar-brand">Hiwibang</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="/" title="海外帮科技">首页</a>
						</li>
						<li>
							<a href="{:U('Intro/index')}">关于我们</a>
						</li>
						<li class=' dropdown'>
							<a href="{:U('News/index')}" class="core">媒体报道<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li>
									<a href="{:U('News/index')}?module=service" title="新闻资讯">新闻资讯</a>
								</li>
								<li>
									<a href="{:U('News/index')}?module=news" title="服务资讯">服务资讯</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="{:U('Case/index')}">客户案例</a>
						</li>
						<li>
							<a href="{:U('Partner/index')}">合作伙伴</a>
						</li>
						<li>
							<a href="{:U('Contact/index')}">联系我们</a>
						</li>
						<script>
							document.write('<script src="/index.php?g=Member&a=Loginjs"><' + '/script>');
						</script>
						<!--<li class="language">
							<a href="/en/" class="en active">English</a>
						</li>-->
					</ul>

				</div>
			</div>
			<div id="progress"></div>
		</div>
		<div class="animated fadeInUp banner">
			<div id="stars"></div>
			<div id="magic"></div>
			<div class="container">
				<div class="col-md-4 pull-right">
					<div class="row">关于海外帮</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row mbt mt30">
				<div class="animated fadeInLeft col-md-3">
					<div class="row">
						<div class="leftbox">
							<div class="bd">
								<h2 class="title">关于我们</h2>
								<ul class="list-h2">
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="animated fadeInRight col-md-9 pull-right">
					<div class="row">
						<div class="arttext">
							<h1>联系我们</h1>
							<p><span>天津：</span>天津市和平区荣业大街与福安大街交口万兆科贸产业大厦B座1301
									<br> 电话：+86 13821530757
									<br> 邮箱：info@hiwibang.com</p>
							<p><br/></p>
							<div class="pagebreak"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="animated fadeInUp footer">
			<div class="container">
				<div class="row">
					<div class="clearfix abuot-row">
						<!--<div class="col-md-1 col-xs-6">
							<div class="row">
								<h2>关于我们</h2>
								<a href="{:U('Intro/index')}">关于我们</a>
								<a href="{:U('News/index')}">媒体报道</a>
								<a href="{:U('Contact/index')}">联系我们</a>
							</div>
						</div>
						<div class="col-md-1 mrl40  col-xs-6">
							<div class="row">
								<h2>客户案例</h2>
								<a href="http://www.yitutech.com/case/">智能安防</a>
								<a href="http://www.yitutech.com/case/">金融</a>
								<a href="http://www.yitutech.com/case/">民生</a>
							</div>
						</div>-->
						<div class="col-md-4  col-xs-12">
							<div class="row">
								<h2>联系我们</h2>
								<p><span>天津：</span>天津市和平区荣业大街与福安大街交口万兆科贸产业大厦B座1301
									<br> 电话：+86 13821530757
									<br> 邮箱：info@hiwibang.com</p>
							</div>
						</div>
						<!--<div class="col-md-3  col-xs-12">
							<div class="row">
								<h2>商务合作</h2>
								<p><span>商务合作：</span>marketing@yitu-inc.com<br> 010 - 5624 9590</p>
								<p><span>媒体采访：</span>media@yitu-inc.com</p>
								<p><span>投递简历：</span>hr@yitu-inc.com </p>
							</div>
						</div>-->
						<!--<div class="col-md-2">
							<div class="row">
								<div class="text-right"><span><h2>关注我们</h2><img src="http://www.yitutech.com/statics/yitu/images/erweim-2.png"></span></div>
							</div>
						</div>-->
					</div>
					<div class="foot">
						<p>版权所有 © 海外帮（天津）科技有限公司</p>
					</div>
				</div>
			</div>
		</div>
		<a href="#" class="cd-top">Top</a>
		<div style="display:none">
			<script>
				var _hmt = _hmt || [];
				(function() {
					var hm = document.createElement("script");
					hm.src = "https://hm.baidu.com/hm.js?58a9d7628f301212265b41f976e23080";
					var s = document.getElementsByTagName("script")[0];
					s.parentNode.insertBefore(hm, s);
				})();
			</script>
		</div>
		<script src="http://www.yitutech.com/statics/yitu/js/main.min.js"></script>
		<script src="http://www.yitutech.com/statics/yitu/js/bootstrap.min.js"></script>
		<script src="http://www.yitutech.com/statics/yitu/js/jquery.SuperSlide.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$(".arttext h1").each(function(i) {
					$(".list-h2").append(' <li><a href="javascript:void(0);" rel="' + i + '">' + $(this).text() + '</a></li>');
					$('.list-h2 li:eq(0)').addClass("on");
					$(".list-h2 a").click(function() {
						var $target = $(this).attr("rel");
						var targetScroll = $(".arttext h1:eq(" + $target + ")").offset().top - 10;
						$("html,body").animate({ scrollTop: targetScroll }, 300);
						return false;
					});
				});
				jQuery(".list-intro-4").slide({ mainCell: ".bd", autoPage: false, effect: "leftLoop", scroll: 1, vis: 3 });
			});
		</script>
	</body>

</html>