<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>客户案例 | 海外帮科技</title>
		<meta name="description" content="" />
		<meta name="keywords" content="客户案例" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="http://www.yitutech.com/statics/yitu/js/jquery.min.js"></script>
		<link rel="stylesheet" href="http://www.yitutech.com/statics/yitu/css/style.css">
		<link rel="stylesheet" href="__ROOT__/assets/home/style.css">
	</head>

	<body class="column-case">
		<div class="navbar">
			<div class="container">
				<div class="navbar-header animated fadeInDown">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
     <span class="glyphicon"></span>
     </button>
					<a href="/" title="海外帮科技" class="navbar-brand">Hiwibang</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="/" title="海外帮科技">首页</a>
						</li>
						<li>
							<a href="{:U('Intro/index')}">关于我们</a>
						</li>
						<li class=' dropdown'>
							<a href="{:U('News/index')}" class="core">媒体报道<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li>
									<a href="{:U('News/index')}?module=service" title="新闻资讯">新闻资讯</a>
								</li>
								<li>
									<a href="{:U('News/index')}?module=news" title="服务资讯">服务资讯</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="{:U('Case/index')}">客户案例</a>
						</li>
						<li>
							<a href="{:U('Partner/index')}">合作伙伴</a>
						</li>
						<li>
							<a href="{:U('Contact/index')}">联系我们</a>
						</li>
						<script>
							document.write('<script src="/index.php?g=Member&a=Loginjs"><' + '/script>');
						</script>
						<!--<li class="language">
							<a href="/en/" class="en active">English</a>
						</li>-->
					</ul>

				</div>
			</div>
			<div id="progress"></div>
		</div>
		<div class="bg animated fadeInUp">
			<div class="animated fadeInUp banner">
				<div id="stars"></div>
				<div id="magic"></div>
				<div class="container"></div>
			</div>
			<div class="container mt">
				<div class="row mbt">
					<div class="animated fadeInUp col-md-12">
						<div class="row">
							<div class="case" id="case">
								<div class="clearfix hd">
									<ul>
										<li>
											<a href="javascript:void(0);">网站建设</a>
											<a href="javascript:void(0);"></a>
											<a href="javascript:void(0);"></a>
											<a href="javascript:void(0);"></a>
										</li>
									</ul>
								</div>
								<div class="case_bd">
									<div id="caseScroll" class="caseScroll">
										<div class="bd">
											<ul class="clearfix">
												<li>
											<a href="http://www.towin-uv.com/" target="_blank" style="color: #FFFFFF; font-size: 20px;"><img src="__ROOT__/assets/home/images/tech/dygd.jpg" title="冬翼光电" />冬翼光电 </a>
										</li>
										<li>
											<a href="http://www.ditai.tech" target="_blank" style="color: #FFFFFF; font-size: 20px;"><img src="__ROOT__/assets/home/images/tech/dthb.jpg" title="迪泰环保" />迪泰环保</a>
										</li>
										<li>
											<a href="http://www.tjshangchan.com/" target="_blank" style="color: #FFFFFF; font-size: 20px;"><img src="__ROOT__/assets/home/images/tech/sczs.jpg" title="尚禅钻石" />尚禅钻石</a>
										</li>
										<li>
											<a href="https://cfap.us/" target="_blank" style="color: #FFFFFF; font-size: 20px;"><img src="__ROOT__/assets/home/images/tech/btllyh.jpg" title="波特兰中国联谊会" />波特兰中国联谊会</a>
										</li>
										<li>
											<a href="http://nstseals.com/" target="_blank" style="color: #FFFFFF; font-size: 20px;"><img src="__ROOT__/assets/home/images/tech/nst.jpg" title="耐斯特机械" />耐斯特机械</a>
										</li>
										<li>
											<a href="http://www.kangtukeji.com/" target="_blank" style="color: #FFFFFF; font-size: 20px;"><img src="__ROOT__/assets/home/images/tech/ktdt.jpg" title="康图电梯" />康图电梯</a>
										</li>
										<li>
											<a href="http://www.bodungroup.com.cn/" target="_blank" style="color: #FFFFFF; font-size: 20px;"><img src="__ROOT__/assets/home/images/tech/bddz.jpg" title="博顿集团" />博顿集团</a>
										</li>
										<li>
											<a href="http://ljwhg.dongying.gov.cn/" target="_blank" style="color: #FFFFFF; font-size: 20px;"><img src="__ROOT__/assets/home/images/tech/ljwhg.jpg" title="利津文化馆" />利津文化馆</a>
										</li>
										<li>
											<a href="http://www.kbjbuy.com/index-jjc.html" target="_blank" style="color: #FFFFFF; font-size: 20px;"><img src="__ROOT__/assets/home/images/tech/kbj.jpg" title="咖布集电商平台" />咖布集电商平台</a>
										</li>
										<li>
											<a href="http://www.xiangml.com/" target="_blank" style="color: #FFFFFF; font-size: 20px;"><img src="__ROOT__/assets/home/images/tech/xml.jpg" title="箱满路平台" />箱满路平台</a>
										</li>
											</ul>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="animated fadeInUp footer">
			<div class="container">
				<div class="row">
					<div class="clearfix abuot-row">
						<!--<div class="col-md-1 col-xs-6">
							<div class="row">
								<h2>关于我们</h2>
								<a href="{:U('Intro/index')}">关于我们</a>
								<a href="{:U('News/index')}">媒体报道</a>
								<a href="{:U('Contact/index')}">联系我们</a>
							</div>
						</div>
						<div class="col-md-1 mrl40  col-xs-6">
							<div class="row">
								<h2>客户案例</h2>
								<a href="http://www.yitutech.com/case/">智能安防</a>
								<a href="http://www.yitutech.com/case/">金融</a>
								<a href="http://www.yitutech.com/case/">民生</a>
							</div>
						</div>-->
						<div class="col-md-4  col-xs-12">
							<div class="row">
								<h2>联系我们</h2>
								<p><span>天津：</span>天津市和平区荣业大街与福安大街交口万兆科贸产业大厦B座1301
									<br> 电话：+86 13821530757
									<br> 邮箱：info@hiwibang.com</p>
							</div>
						</div>
						<!--<div class="col-md-3  col-xs-12">
							<div class="row">
								<h2>商务合作</h2>
								<p><span>商务合作：</span>marketing@yitu-inc.com<br> 010 - 5624 9590</p>
								<p><span>媒体采访：</span>media@yitu-inc.com</p>
								<p><span>投递简历：</span>hr@yitu-inc.com </p>
							</div>
						</div>-->
						<!--<div class="col-md-2">
							<div class="row">
								<div class="text-right"><span><h2>关注我们</h2><img src="http://www.yitutech.com/statics/yitu/images/erweim-2.png"></span></div>
							</div>
						</div>-->
					</div>
					<div class="foot">
						<p>版权所有 © 海外帮（天津）科技有限公司</p>
					</div>
				</div>
			</div>
		</div>
		<a href="#" class="cd-top">Top</a>
		<div style="display:none">
			<script>
				var _hmt = _hmt || [];
				(function() {
					var hm = document.createElement("script");
					hm.src = "https://hm.baidu.com/hm.js?58a9d7628f301212265b41f976e23080";
					var s = document.getElementsByTagName("script")[0];
					s.parentNode.insertBefore(hm, s);
				})();
			</script>
		</div>
		<script src="http://www.yitutech.com/statics/yitu/js/main.min.js"></script>
		<script src="http://www.yitutech.com/statics/yitu/js/bootstrap.min.js"></script>
		<script src="http://www.yitutech.com/statics/yitu/js/jquery.SuperSlide.js"></script>
		<script type="text/javascript">
			jQuery("#case").slide({ mainCell: ".case_bd", trigger: "click", easing: "easeOutCirc", delayTime: 700 });
			jQuery("#caseScroll").slide({ mainCell: ".bd", titCell: ".case_hd ul", trigger: "click", easing: "easeOutCirc", delayTime: 700, autoPage: "true" });
			jQuery("#caseScroll_1").slide({ mainCell: ".bd", titCell: ".case_hd ul", trigger: "click", easing: "easeOutCirc", delayTime: 700, autoPage: "true" });
			jQuery("#caseScroll_2").slide({ mainCell: ".bd", titCell: ".case_hd ul", trigger: "click", easing: "easeOutCirc", delayTime: 700, autoPage: "true" });
			jQuery("#caseScroll_3").slide({ mainCell: ".bd", titCell: ".case_hd ul", trigger: "click", easing: "easeOutCirc", delayTime: 700, autoPage: "true" });

			function clickbnt(id) {
				//打开窗口
				//	 $("body").append('<div class="clickbnt_bg"><div class="col-md-2"></div><div class="col-md-8 clickbnt_v"></div></div><div class="col-md-2"></div>').animate();
				//	 $('.clickbnt_bg .clickbnt_v').html($(".txt-"+id).parent().html()).animate();
				//        //关闭窗口
				//       $('.clickbnt_bg').on('click', function(event){
				//             event.preventDefault();
				//                $('.clickbnt_bg').remove(); 
				//        });
				//        //ESC关闭
				//        $(document).keyup(function(event){
				//            if(event.which=='27'){
				//	         $('.clickbnt_bg').remove(); 
				//             //   $(".txt-"+id).removeClass('is-visible');
				//            }
				//        });
			}
		</script>
	</body>

</html>