<extend name="Public:base"/>
<block name="navbar"><h3><i class="fa fa-wrench"></i>修改会员信息</h3><em><a href="{:U('Member/index')}"><i
        class="fa fa-list"></i>列表</a></em></block>
<block name="content">
    <div class="modbox">
        <div class="modbox-body">
            <form id="mainform" method="post" action="{:U('Member/update')}">
                <input type="hidden" name="id" value="{$data.id}"/>
                <table class="formtable">
                    <tbody>
                    <tr>
                        <th style="width:100px;">用户名：</th>
                        <td>{$data.username}</td>
                    </tr>
                    <tr>
                        <th>密码：</th>
                        <td><input type="password" class="edit" id="password" name="password" size="30" maxlength="20"/>
                            <em></em></td>
                    </tr>
                    <tr>
                        <th>重复密码：</th>
                        <td><input type="password" class="edit" id="repassword" name="repassword" size="30"
                                   maxlength="100" value=""/></td>
                    </tr>
                    <tr>
                        <th>国家区号：</th>
                        <td><input type="text" class="edit" name="countrycode" value="{$data.countrycode}" size="80"
                                   maxlength="100"/> <em>如+86</em> </td>
                    </tr>
                    <tr>
                        <th>手机号：</th>
                        <td><input type="text" class="edit" name="mobile" value="{$data.mobile}" size="80"
                                   maxlength="100"/> <em>不带区号</em> </td>
                    </tr>
                    <tr>
                        <th>Email：</th>
                        <td><input type="text" class="edit" name="email" value="{$data.email}" size="80"
                                   maxlength="100"/></td>
                    </tr>
                    <tr>
                        <th>电话：</th>
                        <td><input type="text" class="edit" name="phone" value="{$data.phone}" size="80"
                                   maxlength="100"/></td>
                    </tr>
                    <tr>
                        <th>微信：</th>
                        <td><input type="text" class="edit" name="wechat" value="{$data.wechat}" size="80"
                                   maxlength="100"/></td>
                    </tr>
                    <tr>
                        <th>类型：</th>
                        <td><select name="mytype">
                            <volist name="typeList" id="vo">
                                <option value="{$vo.key}"
                                <if condition="$data.mytype eq $vo['key']">selected</if>
                                >{$vo.title}</option>
                            </volist>
                        </select></td>
                    </tr>
                    <tr>
                        <th>实体：</th>
                        <td><select name="entity">
                            <volist name="entityList" id="vo">
                                <option value="{$vo.key}"
                                <if condition="$data.entity eq $vo['key']">selected</if>
                                >{$vo.title}</option>
                            </volist>
                        </select></td>
                    </tr>
                    <tr>
                        <th>关系：</th>
                        <td><select name="relation">
                            <volist name="relationList" id="vo">
                                <option value="{$vo.key}"
                                <if condition="$data.relation eq $vo['key']">selected</if>
                                >{$vo.title}</option>
                            </volist>
                        </select></td>
                    </tr>
                    <tr>
                        <th>评级：</th>
                        <td><input type="text" class="edit" name="rating" value="{$data.rating}" size="80"
                                   maxlength="100"/></td>
                    </tr>
                    <tr>
                        <th>昵称：</th>
                        <td><input type="text" class="edit" name="nickname" value="{$data.nickname}" size="80"
                                   maxlength="100"/></td>
                    </tr>
                    <tr>
                        <th>签名：</th>
                        <td><input type="text" class="edit" name="signature" value="{$data.signature}" size="80"
                                   maxlength="100"/></td>
                    </tr>
                    <tr><th>头像：</th><td><span id="img-preview"><notempty name="data.avatar"><img src="{$data.avatar}" width="80" height="80" /></notempty></span><input type="hidden" id="avatar" name="avatar" value="{$data.avatar}" /> <input type="button" id="uploadButton" value="上传图片" /></td></tr>
                    <tr>
                        <th>姓名：</th>
                        <td><input type="text" class="edit" name="email" value="{$data.surname}" size="80"
                                   maxlength="100"/></td>
                    </tr>
                    <tr>
                        <th>公司：</th>
                        <td><input type="text" class="edit" name="company" value="{$data.company}" size="80"
                                   maxlength="100"/></td>
                    </tr>
                    <tr>
                        <th>网址：</th>
                        <td><input type="text" class="edit" name="site" value="{$data.site}" size="80"
                                   maxlength="100"/></td>
                    </tr>
                    <tr>
                        <th>国家/地区：</th>
                        <td><select id="sel-country" name="country"></select></td>
                    </tr>
                    <tr>
                        <th>城市：</th>
                        <td><select id="sel-city" name="city"></select></td>
                    </tr>
                    <tr>
                        <th>主要领域：</th>
                        <td><select id="sel-realm" name="realm"></select></td>
                    </tr>
                    <tr>
                        <th>认证：</th>
                        <td><label><input type="checkbox" name="ismobileauth" value="1"
                            <notempty name="data.ismobileauth">checked</notempty>
                            /> 手机</label>&nbsp;&nbsp;
                            <label><input type="checkbox" name="isemailauth" value="1"
                                <notempty name="data.isemailauth">checked</notempty>
                                /> 邮件</label>&nbsp;&nbsp;
                            <label><input type="checkbox" name="isindauth" value="1"
                                <notempty name="data.isindauth">checked</notempty>
                                /> 个人</label>
                            <label><input type="checkbox" name="isinsauth" value="1"
                                <notempty name="data.isinsauth">checked</notempty>
                                /> 机构</label>
                            <label><input type="checkbox" name="isbankauth" value="1"
                                <notempty name="data.isbankauth">checked</notempty>
                                /> 银行</label>
                    </tr>

                    <tr>
                        <th>权限：</th>
                        <td><label><input type="checkbox" name="denylogin" value="1"
                            <notempty name="data.denylogin">checked</notempty>
                            /> 禁止登录</label>&nbsp;&nbsp;
                            <label><input type="checkbox" name="denyinfo" value="1"
                                <notempty name="data.denyinfo">checked</notempty>
                                /> 禁止发布</label>&nbsp;&nbsp;
                            <label><input type="checkbox" name="denytrade" value="1"
                                <notempty name="data.denytrade">checked</notempty>
                                /> 禁止交易</label></td>
                    </tr>
                    <tr>
                        <th>简介：</th>
                        <td><textarea class="memo" id="content" name="content" rows="8" cols="80">{$data.content}</textarea></td>
                    </tr>
                    <tr>
                        <th>备注：</th>
                        <td><textarea class="memo" name="memo" rows="4" cols="60">{$data.memo}</textarea></td>
                    </tr>
                    <tr><th>置顶：</th><td><input type="text" class="edit" name="istop" size="80" maxlength="100" value="{$data.istop}" /></td></tr>

                    <tr><th>推荐人：</th><td>
                        <empty name="data.refereeid">
                        <input type="text" class="edit" size="24" name="referee" id="referee" />
                        <em id="refereeinfo">会员ID</em>
                        <else/>
                            {$data.refereename} [{$data.refereeid}]
                        </empty>
                    </td></tr>

                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="2">
                            <button type="submit" class="button"><i class="fa fa-save"></i> 保存</button>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>
</block>
<block name="script">
    <script src="__LIB__/kindeditor/kindeditor.js"></script>
    <script src="__LIB__/kindeditor/lang/zh-CN.js"></script>
    <link rel="stylesheet" href="__LIB__/kindeditor/themes/default/default.css" />
    <script>
        $.extend(basePage, {
            onInit: function () {
                var that = this;
                //验证控件
                var validform = $('#mainform').Validform({
                    tiptype: 3,
                });
                var checkUrl = "{:U('Member/check')}";
                validform.addRule([
                    {ele: 'input[name=username]', datatype: '*3-20', ajaxurl: checkUrl, nullmsg: '请输入用户名'},
                    {ele: 'input[name=password]', datatype: '*3-20', ignore: 'ignore', nullmsg: '请输入密码'},
                    {ele: 'input[name=repassword]', datatype: '*0-20', recheck: 'password', errormsg: '两次输入密码不一致'}
                ]);
                that.initSelect();
                that.initEditor();
                that.initUpload();
                that.initReferee();
            },
            initEditor: function() {
                var editor;
                var K = KindEditor;
                editor = K.create('#content', {
                    filterMode: false,
                    resizeType : 1,
                    allowPreviewEmoticons : false,
                    urlType:'absolute',
                    uploadJson : "{:U('Misc/upload')}?hash={$data.hash}"
                });
            },
            initUpload: function() {
                var K = KindEditor;
                uploadbutton = K.uploadbutton({
                    button : K('#uploadButton')[0],
                    fieldName : 'imgFile',
                    url : "{:U('Misc/avatar')}?dir=avatar&hash={$data.hash}&uid={$data.id}",
                    afterUpload : function(data){
                        if (data.error==1)
                            alert("上传错误:" + data.message);
                        else {
                            $("#avatar").val(data.url);
                            $('#img-preview').html('<img src="' + data.url +'" width="80" height="80" />');
                        }
                    }
                });
                uploadbutton.fileBox.change(function(e) {
                    uploadbutton.submit();
                });
            },
            initSelect: function () {
                var that = this;
                that.districtList = {$districtList|json_encode};
                that.realmList = {$realmList|json_encode};
                var country = "{$data.country}";
                var city = "{$data.city}";
                var realm = "{$data.realm}";
                that.fillCountry('#sel-country', country);
                that.fillCity('#sel-city', country, city);
                that.fillRealm('#sel-realm', realm);
                $('#sel-country').change(function () {
                    var country = this.options[this.selectedIndex].value;
                    that.fillCity('#sel-city', country, '');
                });
            },
            initReferee: function() {
                var that = this;
                var $referee = $('#referee');
                $referee.blur(function(){
                    var id = $referee.val();
                    if (id != '') {
                        var url = "{:U('Member/info')}";
                        var param = {id: id};
                        $.post(url, param, function(res){
                            if (res.result == 0) {
                                var data = res.data;
                                $('#refereeinfo').html(data.username);
                            } else {
                                that.error('推荐人不存在');
                            }
                        });
                    } else {
                        $('#refereeinfo').html('会员ID');
                    }

                });
            }
        });
    </script>
</block>
