<extend name="Public:base" />
<block name="navbar"><h3><i class="fa fa-list"></i>{$caption}</h3><em><!--<a href="{:U('Task/add')}"><i class="fa fa-plus"></i>增加</a>-->&nbsp;&nbsp;</em></block>
<block name="content">
    <div class="modbox">
        <div class="modbox-head"></div>
        <div class="modbox-body">
        <div class="panel"><form method="get" action="{:U('Task/index')}">标题：<input type="text" name="keyword" class="edit" value="{:I('keyword')}" />&nbsp;&nbsp;<button type="submit" class="button button-gray"><i class="fa fa-search"></i>搜索</button></form></div>
        <form method="post" action="{:U('Task/batch')}">
        <table class="listtable">
            <thead><tr><th style="width:80px;">编号</th><th style="width:300px;">标题</th><th style="width:120px;">会员</th><th style="width:112px;">发布时间</th><th style="width:60px;">状态</th><th>操作</th></tr></thead>
            <tbody>
            <volist name="list" id="item">
            <tr><td><label><input type="checkbox" name="id[]" value="{$item.id}" /> {$item.id}</label></td><td><a href="{:U('Task/detail?id='.$item['id'])}">{$item.title}</a></td><td>{$item.memname}</td><td>{$item.addtime|date='Y-m-d H:i',###}</td><td><if condition="$item.status gt 0">显示<else />隐藏</if></td><td>&nbsp;<a href="{:U('Task/detail?id='.$item['id'])}"><i class="fa fa-edit"></i>查看</a>&nbsp;&nbsp;<a href="{:U('Task/delete?id='.$item['id'])}" data-rel="delete"><i class="fa fa-remove"></i>删除</a></td></tr>
            </volist>
            <empty name="list">
            <tr><td colspan="6"><p class="center">暂无信息</p></td></tr>
            </empty>
            </tbody>
            <tfoot><tr><td><label><input type="checkbox" data-rel="selectall" /> 全选</label>&nbsp;&nbsp;</td><td colspan="5"><label><input type="radio" name="op" value="delete" /> 删除</label>&nbsp;&nbsp;<button type="submit" class="button"><i class="fa fa-refresh"></i>批量操作</button></td></tr></tfoot>
        </table>
        </form>
        <div class="pages">{$multi}</div>
        </div>
    </div>
    
</block>