<extend name="Public:base" />
<block name="navbar"><h3><i class="fa fa-wrench"></i>修改管理员信息</h3><em><a href="{:U('Admin/index')}"><i class="fa fa-list"></i>列表</a></em></block>
<block name="content">
    <div class="modbox">
        <div class="modbox-body">
            <form id="mainform" method="post" action="{:U('Admin/update')}">
            <input type="hidden" name="id" value="{$data.uid}" />
            <table class="formtable">
                <tbody>
                <tr><th style="width:100px;">用户名：</th><td>{$data.username}</td></tr>
                <tr><th>角色：</th><td colspan="3">
                <volist name="roles" id="vo">
                <label><input type="checkbox" name="roleids[]" value="{$vo.id}" data-title="{$vo.title}" <if condition="strpos($data['roleids'],$vo['id'])!==FALSE" value="$vo.id"> checked="checked"</if> /> {$vo.title} </label>
                </volist>
                </td>
                </tr>
                <tr><th>密码：</th><td><input type="password" class="edit" id="password" name="password" size="30" maxlength="20" /> <em>不修改请留空</em></td></tr>
            	<tr><th>重复密码：</th><td><input type="password" class="edit" id="repassword" name="repassword" size="30" maxlength="100" value="" /></td></tr>
                </tbody>
                <tfoot>
                <tr><td colspan="2"><button type="submit" class="button"><i class="fa fa-save"></i>保存</button></td></tr>
                </tfoot>
            </table>
            </form>
        </div>
    </div>
</block>
<block name="script">
<script>
$.extend(basePage, {
    onInit: function() {
        //验证控件
        var validform = $('#mainform').Validform({
            tiptype: 3,
        });
        var checkUrl = "{:U('Member/check')}";
        validform.addRule([
            {ele:'input[name=username]',datatype:'*3-20', ajaxurl:checkUrl, nullmsg:'请输入用户名'},
            {ele:'input[name=password]',datatype:'*3-20', ignore:'ignore', nullmsg:'请输入密码'},
            {ele:'input[name=repassword]',datatype:'*0-20',recheck:'password',errormsg:'两次输入密码不一致'}
        ]);
    }
});
</script>
</block>
