<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html" />
    <meta name="author" content="QQ 365102010" />
    <title>{$pageTitle}</title>
    <link href="__LIB__/awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="__LIB__/icheck/skins/minimal/blue.css" rel="stylesheet" type="text/css" />
    <link href="__CSS__/style.css" rel="stylesheet" type="text/css" />
    <block name="style"></block>
</head>

<body>
<div id="wrap">
    <div class="mainbox">
        <div class="mainbox-head"><block name="navbar"></block></div>
        <div class="mainbox-body">
            <block name="content">主模块</block>
        </div>
    </div>
</div>
<script src="__LIB__/jquery-1.11.3.min.js"></script>
<script src="__LIB__/Validform_v5.3.2_min.js"></script>
<script src="__LIB__/icheck/icheck.min.js"></script>
<script src="__LIB__/jquery.easytools.js"></script>
<script src="__JS__/admin.js"></script>
<block name="script"></block>
</body>
</html>
