<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<title>关于我们 | 海外帮科技</title>
		<meta name="description" content="" />
		<meta name="keywords" content="关于我们" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="http://www.yitutech.com/statics/yitu/js/jquery.min.js"></script>
		<link rel="stylesheet" href="http://www.yitutech.com/statics/yitu/css/style.css">
		<link rel="stylesheet" href="__ROOT__/assets/home/style.css">
	</head>

	<body class="column-intro">
		<div class="navbar">
			<div class="container">
				<div class="navbar-header animated fadeInDown">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
     <span class="glyphicon"></span>
     </button>
					<a href="/" title="海外帮科技" class="navbar-brand">Hiwibang</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="/" title="海外帮科技">首页</a>
						</li>
						<li>
							<a href="{:U('Intro/index')}">关于我们</a>
						</li>
						<li class=' dropdown'>
							<a href="{:U('News/index')}" class="core">媒体报道<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li>
									<a href="{:U('News/index')}?module=service" title="新闻资讯">新闻资讯</a>
								</li>
								<li>
									<a href="{:U('News/index')}?module=news" title="服务资讯">服务资讯</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="{:U('Case/index')}">客户案例</a>
						</li>
						<li>
							<a href="{:U('Partner/index')}">合作伙伴</a>
						</li>
						<li>
							<a href="{:U('Contact/index')}">联系我们</a>
						</li>
						<script>
							document.write('<script src="/index.php?g=Member&a=Loginjs"><' + '/script>');
						</script>
						<!--<li class="language">
							<a href="/en/" class="en active">English</a>
						</li>-->
					</ul>

				</div>
			</div>
			<div id="progress"></div>
		</div>
		<div class="animated fadeInUp banner">
			<div id="stars"></div>
			<div id="magic"></div>
			<div class="container">
				<div class="col-md-4 pull-right">
					<div class="row">关于海外帮</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row mbt mt30">
				<div class="animated fadeInLeft col-md-3">
					<div class="row">
						<div class="leftbox">
							<div class="bd">
								<h2 class="title">关于我们</h2>
								<ul class="list-h2">
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="animated fadeInRight col-md-9 pull-right">
					<div class="row">
						<div class="arttext">
							<h1>公司简介</h1>
							<p>海外帮（天津）科技有限公司，是卓越的互联网云平台服务提供商，打造了顶级的互联网+云平台——海外帮云平台。该平台由通用平台 和多个行业垂直平台组成。海外帮云平台拥有行业领先的架构、模块、存储、运维等技术，通过海外帮云平台，企事业单位可以迅速获得100+功能，个性化的专属APP、微信公众号、移动网站等线上服务平台，一站式的运维、升级等服务让企业无任何技术即可建立专属的互联网+转型平台。&nbsp;</p>
							<p>海外帮云平台推出以来，客户量迅猛增长，已有大量的企事业单位通过海外帮云平台顺利完成互联网转型，在海外服务、教育培训、农业、高科技等领域，我们率先做到了互联网+的实际落地，通过打造一系列样板客户，积累了完善的互联网+理论体系，充分验证了海外帮专业的技术实力。优护康医疗、海外邦海外服务平台、波特兰中国联谊会、上海迪泰环保、上海交大校友合作平台、北美华人医生网，留学平台、上海冬翼光电、谷果齐园生鲜电商、中国外运箱满路平台、咖不集电商平台、耐斯特机械密封、DPR医疗, Venture HighTech 投资平台，PIA 国际学院平台， 俄勒冈州立大学农业平台等等，纷纷通过海外帮云平台打造基于移动互联网的线上服务平台，完成互联网+转型。</p>
							<p>海外帮科技的创业团队，有来自于美国IBM、用友等知名企业的IT精英，也有曾经多次互联网创业的达人，为了“互联网+”的创客梦想不断加入。</p>
							<p>技术开发方面，海外帮科技拥有一支年轻团结、朝气蓬勃、高素质的专业团队，为国内众多的客户提供了高技术水准的服务，为我国各种类型企事业单位互联网+的落地保驾护航。</p>
							<p>系统集成方面，海外帮科技拥有国内豪华的软件开发集成环境：牵头成立蜂巢软件联盟，我们可以提供更为广阔的系统集成开发环境，海外帮移动云平台可轻松的与企业已有的OA系统、ERP系统、CRM系统等进行深度集成，真正的实现企事业单位信息化建设的“内外协同、天地互通”。</p>
							<p>高瞻远瞩的创业领导者，经验丰富水平卓越的创业团队，阵容奢华投资及合作伙伴，加上数年来与客户的携手努力共同成长，这些都为打造国内一流的、世界领先的互联网+移动云平台提供了坚强有力的保障。</p>
							<p><br/></p>
							<!--<h1>创始团队</h1>
							<table border="0" style="border-collapse:collapse;">
								<tbody>
									<tr class="firstRow">
										<td style="text-align:center; padding: 0 20px 0 0;" valign="top" class="ue_t" width="0"><img src="__ROOT__/assets/home/images/zw.jpg" /></td>
										<td style="word-break: break-all;">
											<h2>张维</h2>
											<p>上海交通大学系毕业<br />曾就职于天津市电子仪表工业管理局<br />曾创立天津玄日投资咨询有限公司<br />高端出国服务网<br />天津市海外商务服务中心 </p>
										</td>
									</tr>
									<tr class="firstRow">
										<td width="0"></td>
										<td></td>
									</tr>
									<tr class="firstRow">
										<td style="text-align:center; padding: 0 20px 0 0;" valign="top" class="ue_t"><img src="__ROOT__/assets/home/images/zk.jpg" /></td>
										<td>
											<h2>张凯</h2>
											<p>美国韦恩州立大学计算机硕士<br/>上海交大南洋培训中心创始人<br/>曾任职Ford福特汽车公司 软件开发<br />IBM项目负责人 高级软件架构师<br />12项美国全球软件专利<br />活跃于美国侨界，创办和领导多个华人社团 </p>
										</td>
									</tr>
								</tbody>
							</table>
							<p><br/></p>-->
							<h1>云平台简介</h1>
							<ul class="list-intro-2 list-paddingleft-2" style="list-style-type: circle;">
								<li style="">
									<h2><strong>数据中心</strong><hr style="height: 280px;"/></h2>
									<p>我们在中国和美国拥有双数据中心，可为国内外为客户提供安全，高效，低成本，零维护的移动网站平台建设和服务。<br />我们提供专业平台设计和制作，基于最新的云平台的技术和设计，上线极快，分分钟打造出你自己定制的云平台。</p>
								</li>
								<li>
									<h2><strong>IT零投入</strong></h2>
									<p>基于最新云技术和理念，你不需要一行代码，不需要一个技术人员，不需要一台服务器!</p>
								</li>
								<li>
									<h2><strong>极其高效</strong></h2>
									<p>完成专业平台设计和制作以天计，基于最新的云平台的技术和设计，上线极快，分分钟打造出你自己定制的云平台。</p>
								</li>
								<li>
									<h2><strong>强大功能</strong></h2>
									<p>一云多端：移动端，微信端，电脑端，管理端，全面覆盖。</p>
									<p>支持社交，自媒体发布管理，电商，支付保障，信誉，积分，多级搜索，多语言，报名，通知，客服，后台数据分析和管理。</p>
									<p>云技术和用户体验的完美结合，运维成本低，升级扩容方便</p>
								</li>
							</ul>
							<p><br/></p>
							<div class="pagebreak"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="animated fadeInUp footer">
			<div class="container">
				<div class="row">
					<div class="clearfix abuot-row">
						<!--<div class="col-md-1 col-xs-6">
							<div class="row">
								<h2>关于我们</h2>
								<a href="{:U('Intro/index')}">关于我们</a>
								<a href="{:U('News/index')}">媒体报道</a>
								<a href="{:U('Contact/index')}">联系我们</a>
							</div>
						</div>
						<div class="col-md-1 mrl40  col-xs-6">
							<div class="row">
								<h2>客户案例</h2>
								<a href="http://www.yitutech.com/case/">智能安防</a>
								<a href="http://www.yitutech.com/case/">金融</a>
								<a href="http://www.yitutech.com/case/">民生</a>
							</div>
						</div>-->
						<div class="col-md-4  col-xs-12">
							<div class="row">
								<h2>联系我们</h2>
								<p><span>天津：</span>天津市和平区荣业大街与福安大街交口万兆科贸产业大厦B座1301
									<br> 电话：+86 13821530757
									<br> 邮箱：info@hiwibang.com</p>
							</div>
						</div>
						<!--<div class="col-md-3  col-xs-12">
							<div class="row">
								<h2>商务合作</h2>
								<p><span>商务合作：</span>marketing@yitu-inc.com<br> 010 - 5624 9590</p>
								<p><span>媒体采访：</span>media@yitu-inc.com</p>
								<p><span>投递简历：</span>hr@yitu-inc.com </p>
							</div>
						</div>-->
						<!--<div class="col-md-2">
							<div class="row">
								<div class="text-right"><span><h2>关注我们</h2><img src="http://www.yitutech.com/statics/yitu/images/erweim-2.png"></span></div>
							</div>
						</div>-->
					</div>
					<div class="foot">
						<p>版权所有 © 海外帮（天津）科技有限公司</p>
					</div>
				</div>
			</div>
		</div>
		<a href="#" class="cd-top">Top</a>
		<div style="display:none">
			<script>
				var _hmt = _hmt || [];
				(function() {
					var hm = document.createElement("script");
					hm.src = "https://hm.baidu.com/hm.js?58a9d7628f301212265b41f976e23080";
					var s = document.getElementsByTagName("script")[0];
					s.parentNode.insertBefore(hm, s);
				})();
			</script>
		</div>
		<script src="http://www.yitutech.com/statics/yitu/js/main.min.js"></script>
		<script src="http://www.yitutech.com/statics/yitu/js/bootstrap.min.js"></script>
		<script src="http://www.yitutech.com/statics/yitu/js/jquery.SuperSlide.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$(".arttext h1").each(function(i) {
					$(".list-h2").append(' <li><a href="javascript:void(0);" rel="' + i + '">' + $(this).text() + '</a></li>');
					$('.list-h2 li:eq(0)').addClass("on");
					$(".list-h2 a").click(function() {
						var $target = $(this).attr("rel");
						var targetScroll = $(".arttext h1:eq(" + $target + ")").offset().top - 10;
						$("html,body").animate({ scrollTop: targetScroll }, 300);
						return false;
					});
				});
				jQuery(".list-intro-4").slide({ mainCell: ".bd", autoPage: false, effect: "leftLoop", scroll: 1, vis: 3 });
			});
		</script>
	</body>

</html>