<extend name="Public:base" />
<block name="navbar"><h3><i class="fa fa-list"></i>{$caption}</h3><em><!--<a href="{:U('Credit/add')}"><i class="fa fa-plus"></i>增加</a>&nbsp;&nbsp;--></em></block>
<block name="content">
    <div class="modbox">
        <div class="modbox-head"></div>
        <div class="modbox-body">
            <div class="panel"><form method="get" action="{:U('Credit/index')}">

                用户Id：<input type="text" name="uid" class="edit" value="{:I('uid')}" />&nbsp;用户名：<input type="text" name="username" class="edit" value="{:I('username')}" />&nbsp;&nbsp;<button type="submit" class="button button-gray"><i class="fa fa-search"></i>搜索</button></form></div>
        <form method="post" action="{:U('Credit/batch')}">
        <table class="listtable">
            <tbody>
            <tr><th style="width:80px;">编号</th><th style="width:120px;">时间</th><th style="width:100px">会员</th><th style="width:100px;">类型</th><th style="width:60px">积分</th><th style="width:300px">备注</th><th>操作</th></tr>
            <volist name="list" id="item">
            <tr><td><label><input type="checkbox" name="id[]" value="{$item.id}" /> {$item.id}</label></td><td>{$item.addtime|date='Y-m-d H:i:s',###}</td><td><a href="{:U('Member/detail')}?id={$item.memid}" data-rel="dialog" data-option='{width:"100%",height:"100%"}'>{$item.memname}</a></td><td><lt name="item.credit" value="0">支出<else/>收入</lt> </td><td>{$item.credit}</td><td>{$item.memo}</td><td><a href="{:U('Credit/delete?id='.$item['id'])}" data-rel="delete"><i class="fa fa-remove"></i>删除</a></td></tr>
            </volist>
            <empty name="list">
                <tr><td colspan="7" class="nodata">暂无数据</td> </tr>
            </empty>
            </tbody>
            <tfoot><tr><td><label><input type="checkbox" data-rel="selectall" /> 全选</label>&nbsp;&nbsp;</td><td colspan="7"><label><input type="radio" name="op" value="delete" /> 删除</label>&nbsp;&nbsp;<button type="submit" class="button"><i class="fa fa-refresh"></i>批量操作</button></td></tr></tfoot>
        </table>
        </form>
        <div class="pages">{$multi}</div>
        </div>
    </div>
    
</block>