<extend name="Public:dialog" />
<block name="content">
    <div class="freebox">
        <div class="freebox-head"><h3><i class="fa fa-edit"></i>{$caption}</h3><em><a href="javascript:;" class="close"><i class="fa fa-close"></i></a></em></div>
        <div class="freebox-body">
        <form id="mainform" method="post" action="{:U('Issuetype/update')}">
            <input type="hidden" name="id" value="{$data.id}" />
            <input type="hidden" name="act" value="{$act}" />
        <input type="hidden" name="oldupid" value="{$data.upid}" />
        <input type="hidden" name="upid" value="{$data.upid}" />
        <input type="hidden" name="hiddenkey" value="{$data.key}" />
        <table class="formtable">
            <tbody>
            <tr><th style="width:80px"><em class="required">*</em>中文名称：</th><td><input type="text" class="edit" name="title" value="{$data.title}" size="50" maxlength="50" /> </td></tr>
            <tr><th><em class="required">*</em>英文名称：</th><td><input type="text" class="edit" name="en-us" size="50" maxlength="" value="{$data.en-us}" /></td></tr>
            <tr><th><em class="required">*</em>关键词：</th><td><input type="text" class="edit" name="key" value="{$data.key}" size="50" maxlength="50" /> </td></tr>
            <tr>
            	<th>类型功能：</th>
            	<td>
            		<select name="actid">
            			<option value="">暂无</option>
            			<volist name="action" id="vo">
            				<option value="{$vo.id}" <if condition="$vo[id] eq $data[actid]">selected</if>>{$vo.act_title}</option>
            			</volist>
            		</select>
            	</td>
            </tr>
            <tr>
            	<th>是否为商品：</th>
            	<td>
            		<label><input name="is_goods" type="radio" value="0" <if condition="$data.is_goods eq 0">checked</if> />否 </label> 
					<label><input name="is_goods" type="radio" value="1" <if condition="$data.is_goods eq 1">checked</if> />是 </label>
            	</td>
            </tr>
            <!--<tr><th>标识：</th><td><input type="text" class="edit" name="code" value="{$data.code}" size="50" maxlength="50" /></td></tr>-->
            <!--<tr><th>图标：</th><td><input type="text" class="edit" id="icon" name="icon" size="50" maxlength="200" value="{$data.icon}" /> <input type="button" id="uploadButton2" value="上传图片" /></td></tr>-->
            <!--<tr><th>url：</th><td><input type="text" class="edit" name="url" size="50" maxlength="" value="{$data.url}" /></td></tr>-->
            <!--<tr><th>排序：</th><td><input type="text" class="edit" name="sortno" size="8" maxlength="16" value="{$data.sortno}" /></td></tr>-->
            </tbody>
            <tfoot>
            <tr><td colspan="2"><button type="button" class="button" id="btn-submit"><i class="fa fa-save"></i>保存</button>&nbsp;&nbsp;<button type="button" class="button button-gray close"><i class="fa fa-close"></i>取消</button></td></tr>
            </tfoot>
        </table>
        </form>
        </div>
    </div>

</block>
<block name="script">
<script src="__LIB__/kindeditor/kindeditor.js"></script>
<script src="__LIB__/kindeditor/lang/zh-CN.js"></script>
<script>
$.extend(basePage,{
    onInit: function() {
//      var K = KindEditor;
//      var uploadbutton2 = K.uploadbutton({
//          button : K('#uploadButton2')[0],
//          fieldName : 'imgFile',
//          url : "{:U('Misc/upload?dir=image&hash='.$data['hash'])}",
//          afterUpload : function(data){
//              if (data.error==1)
//                  alert("上传错误:"+data.message);
//              else {
//                  $("#icon").val(data.url);
//              }
//          },
//      });
//      uploadbutton2.fileBox.change(function(e) {
//          uploadbutton2.submit();
//      });
        //验证控件
        var validform = $('#mainform').Validform({
            tiptype: 3,
        });
        validform.addRule([
            //{ele:'input[name=id]',datatype:'n', nullmsg:'请输入编号'},
            {ele:'input[name=title]',datatype:'*', nullmsg:'请输入中文菜单'},
            {ele:'input[name=en-us]',datatype:'*', nullmsg:'请输入英文菜单'},
        ]);
        $('#btn-submit').click(function(){
        	var typekey = $('input[name=key]').val();
        	var hiddenkey = $('input[name=hiddenkey]').val();
        	if(typekey == ''){
        		alert('关键词不能为空')
        		return;
        	}
        	if(hiddenkey != '' && typekey != hiddenkey){
        		alert('关键词不能编辑')
        		return;
        	}
            var param = $('#mainform').serializeArray();
            var url = "{:U('Issuetype/update')}";
            $.post(url, param, function(res){
                if (res.result == 0) {
                    parent.$.freebox.close();
                    parent.onResult('edit', res.data);
                } else {
                    alert(res.info);
                }
            });
        });
    }

});
</script>
</block>
