<extend name="Public:base" />
<block name="navbar"><h3><i class="fa fa-list"></i>{$caption}</h3><em><!--<a href="{:U('AppComment/add')}"><i class="fa fa-plus"></i>增加</a>&nbsp;&nbsp;--></em></block>
<block name="content">
    <div class="modbox">
        <div class="modbox-head"></div>
        <div class="modbox-body">
            <div class="panel"><form method="get" action="{:U('Comment/index')}">

                名称：<input type="text" name="title" class="edit" value="{:I('title')}" />&nbsp;&nbsp;会员名称：<input type="text" name="username" class="edit" value="{:I('username')}" />&nbsp;&nbsp;状态：<select name="status">
                <option value="">选择</option>
                <volist name="statusList" id="vo">
                    <option value="{$key}" <if condition="$key eq $_GET['status']">selected</if> >{$vo}</option>
                </volist>
            </select>&nbsp;&nbsp;<button type="submit" class="button button-gray"><i class="fa fa-search"></i>搜索</button></form></div>
        <form method="post" action="{:U('Comment/batch')}">
        <table class="listtable">
            <tbody>
            <tr><th style="width:80px;">编号</th><th style="width:200px;">标题</th><th style="width:100px;">会员</th><th>评论内容</th><th>状态</th><th style="width:120px;">发布时间</th><th>操作</th></tr>
            <volist name="list" id="item">
            <tr><td><label><input type="checkbox" name="id[]" value="{$item.id}" /> {$item.id}</label></td><td>{$item.itemtitle}</td><td>{$item.memname}</td><td>{$item.content}</td><td><empty name="item.status">未审核<else/>已审核</empty></td><td>{$item.addtime|date='Y-m-d H:i',###}</td><td>&nbsp;<a href="{:U('Comment/delete?id='.$item['id'])}" data-rel="delete"><i class="fa fa-remove"></i>删除</a></td></tr>
            </volist>
            <empty name="list">
                <tr><td colspan="7" class="nodata">暂无数据</td> </tr>
            </empty>
            </tbody>
            <tfoot><tr><td><label><input type="checkbox" data-rel="selectall" /> 全选</label>&nbsp;&nbsp;</td><td colspan="6"><label><input type="radio" name="op" value="check" checked /> 审核</label>&nbsp;&nbsp;<label><input type="radio" name="op" value="delete" /> 删除</label>&nbsp;&nbsp;<button type="submit" class="button"><i class="fa fa-refresh"></i>批量操作</button></td></tr></tfoot>
        </table>
        </form>
        <div class="pages">{$multi}</div>
        </div>
    </div>
    
</block>