<extend name="Public:base" />
<block name="navbar"><h3><i class="fa fa-edit"></i>{$caption}</h3><em><a href="{:U('Info/index')}"><i class="fa fa-list"></i>列表</a>&nbsp;&nbsp;</em></block>
<block name="content">
    <div class="modbox">
        <div class="modbox-head"></div>
        <div class="modbox-body">
        <form method="post" action="{:U('Info/update')}">
        <input type="hidden" name="id" value="{$data.id}" />
        <table class="formtable">
            <input type="hidden" name="id" value="{$data.id}" />
            <input type="hidden" name="hash" value="{$data.hash}" />
                <tr>
                    <th>
                        标&nbsp;&nbsp;题
                    </th>
                    <td>
                        <input type="text" name="title" placeholder="名称，至少8个字" class="edit" size="80" value="{$data.title}"  />
                    </td>
                </tr>
                <tr>
                    <th>类&nbsp;&nbsp;型</th>
                    <td>
                        <select name="module" class="sel-type">
                            <volist name="moduleList" id="vo">
                                <option value="{$vo.key}" data-isgoods="{$vo.is_goods}" <if condition="$data[module] eq $vo[key]">selected</if>>{$vo.title}</option>
                            </volist>
                        </select>
                    </td>
                </tr>
                <tr class="service" style="display: none;">
                    <th>
                    	成人票价（非付费会员）
                    </th>
                    <td>
                        <input type="text" name="adult_price" placeholder="成人票价（非付费会员）收费活动时填写" class="edit" size="80" value="{$data.adult_price}"  />
                    </td>
                </tr>
                <tr class="service" style="display: none;">
                    <th>
                    	儿童票价（非付费会员）
                    </th>
                    <td>
                        <input type="text" name="c_ticket_price" placeholder="儿童票价（非付费会员）收费活动时填写" class="edit" size="80" value="{$data.c_ticket_price}"  />
                    </td>
                </tr>
                <tr class="service" style="display: none;">
                    <th>
                    	成人票价（付费会员）
                    </th>
                    <td>
                        <input type="text" name="adult_price_p" placeholder="成人票价（付费会员）收费活动时填写" class="edit" size="80" value="{$data.adult_price_p}"  />
                    </td>
                </tr>
                <tr class="service" style="display: none;">
                    <th>
                    	儿童票价（付费会员）
                    </th>
                    <td>
                        <input type="text" name="c_ticket_price_p" placeholder="儿童票价（付费会员）收费活动时填写" class="edit" size="80" value="{$data.c_ticket_price_p}"  />
                    </td>
                </tr>
                <tr class="goods" style="display: none;">
                    <th>
                    	价&nbsp;&nbsp;格
                    </th>
                    <td>
                        <input type="text" name="goods_price" placeholder="商品价格" class="edit" size="80" value="{$data.goods_price}"  />
                    </td>
                </tr>
                <tr class="" style="display: none;">
                    <th>
                    	运&nbsp;&nbsp;费
                    </th>
                    <td>
                        <input type="text" name="yunfei" placeholder="名称，至少8个字" class="edit" size="80" value="{$data.title}"  />
                    </td>
                </tr>
                <tr class="" style="display: none;">
                    <th>
                    	库&nbsp;&nbsp;存
                    </th>
                    <td>
                        <input type="text" name="kucun" placeholder="名称，至少8个字" class="edit" size="80" value="{$data.title}"  />
                    </td>
                </tr>
                <tr>
                    <th>国家/地区：</th>
                    <td><select id="sel-country" name="country"></select></td>
                </tr>
                <tr>
                    <th>城市：</th>
                    <td><select id="sel-city" name="city"></select></td>
                </tr>
                <tr>
                    <th>领域：</th>
                    <td><select id="sel-realm" name="realm"></select></td>
                </tr>
                <tr>
                    <th>领域细分：</th>
                    <td><select id="sel-realm2" name="realm2"></select></td>
                </tr>
                <tr>
                    <th>内容描述</th>
                    <td>
                        <textarea name="content" id="content" class="memo" style="height:200px; width:720px; border:0;" placeholder="内容描述...">{$data.content}</textarea>
                    </td>
                </tr>

                <tr>
                    <th>
                        关键字
                    </th>
                    <td>
                        <input type="text" name="tag" placeholder="如：翻译" class="edit" size="80" value="{$data.tag}"  />
                    </td>
                </tr>
                <tr>
                    <th>
                        有效期
                    </th>
                    <td>
                        <input type="date" name="expire"  class="edit" size="80" value="<notempty name="data.expire">{$data.expire|date='Y-m-d',###}</notempty>" />
                    </td>
                </tr>
            <tr><th>默认图片：</th><td><input type="text" class="edit" id="image" name="image" size="80" maxlength="200" value="{$data.image}" /> <input type="button" id="uploadButton" value="上传图片" /></td></tr>
            <tr><th>相册图片：</th><td><input type="hidden" class="edit" id="images" name="images" size="80" maxlength="100" value="{$data.images}" />
                    <div class="preview clearfix" id="pre-images"><ul>
                    </ul></div>
                    <div class="preview-upload"><input type="button" id="uploadButton2" value="上传图片" /></div></td></tr>
                <tr><th>置顶：</th><td><input type="text" class="edit" name="istop" size="80" maxlength="100" value="{$data.istop}" /></td></tr>
                <tfoot>
                <tr><td colspan="2"><button type="submit" class="button"><i class="fa fa-save"></i>保存</button></td></tr>
                </tfoot>
            </table>
            </form>
        </div>
    </div>
</block>
<block name="script">
    <script src="__LIB__/kindeditor/kindeditor.js"></script>
    <script src="__LIB__/kindeditor/lang/zh-CN.js"></script>
    <link rel="stylesheet" href="__LIB__/kindeditor/themes/default/default.css" />
    <script>
        var mainPage = $.extend(basePage, {
            onInit: function () {
                var that = this;
                //验证控件
                var validform = $('#mainform').Validform({
                    tiptype: 3,
                });
                that.initUpload();
                that.initSelect();
                that.initPreview('images');
                that.initEditor();
            },
            initSelect: function () {
                var that = this;
                that.districtList = {$districtList|json_encode};
                that.realmList = {$realmList|json_encode};
                var country = "{$data.country}";
                var city = "{$data.city}";
                var realm = "{$data.realm}";
                var realm2 = "{$data.realm2}";
                that.fillCountry('#sel-country', country);
                that.fillCity('#sel-city', country, city);
                that.fillRealm('#sel-realm', realm);
                that.fillRealm2('#sel-realm2',realm,realm2);
                $('#sel-country').change(function () {
                    var country = this.options[this.selectedIndex].value;
                    that.fillCity('#sel-city', country, '');
                });
                $('#sel-realm').change(function () {
                    var realm = this.options[this.selectedIndex].value;
                    that.fillRealm2('#sel-realm2', realm, '');
                });
            },
            initEditor: function() {
                var editor;
                var K = KindEditor;
                editor = K.create('#content', {
                    filterMode: false,
                    resizeType : 1,
                    allowPreviewEmoticons : false,
                    urlType:'absolute',
                    uploadJson : "{:U('Misc/upload')}?hash={$data.hash}"
                });
            },
            initUpload: function() {
                var K = KindEditor;
                uploadbutton = K.uploadbutton({
                    button : K('#uploadButton')[0],
                    fieldName : 'imgFile',
                    url : "{:U('Misc/upload?dir=image&hash='.$data['hash'])}",
                    afterUpload : function(data){
                        if (data.error==1)
                            alert("上传错误:" + data.message);
                        else {
                            $("#image").val(data.url);
                        }
                    }
                });
                uploadbutton.fileBox.change(function(e) {
                    uploadbutton.submit();
                });

                var uploadbutton2 = K.uploadbutton({
                    button : K('#uploadButton2')[0],
                    fieldName : 'imgFile',
                    url : "{:U('Misc/upload?dir=image&hash='.$data['hash'])}",
                    afterUpload : function(data){
                        if (data.error==1)
                            alert("上传错误:" + data.message);
                        else {
                            var txt = $("#images").val();
                            if (txt!='')
                                txt += ',';
                            txt += data.url;
                            $("#images").val(txt);

                            var html = '<li><img src="' + data.url + '" /><p><a href="javascript:;" onclick="mainPage.setDefaultImage(this)" >默认</a> <a href="javascript:;" onclick="mainPage.delImage(this)" >删除</a></p></li>';
                            $('#pre-images ul').append(html);
                        }
                    }
                });
                uploadbutton2.fileBox.change(function(e) {
                    uploadbutton2.submit();
                });
            },
            setDefaultImage: function(obj) {
                var $item = $(obj).parent().parent();
                var $img = $item.find('img');
                var url = $img.attr('src');
                $('#image').val(url);
            },
            delImage: function(obj) {
                var $item = $(obj).parent().parent();
                var $img = $item.find('img');
                var url = $img.attr('src');
                var images = $('#images').val();
                images = images.replace(','+ url, '');
                images = images.replace(url + ',', '');
                $('#images').val(images);
                $item.remove();
            },
            initPreview: function(id) {
            	var isgoods1 = $('.sel-type option:selected').attr('data-isgoods');
            	if(isgoods1 == 1){
            		$('.goods').css('display','');
            	}else{
            		$('.goods').css('display','none');
            	}
            	var type = $('.sel-type option:selected').val();
            		if(type == 'service'){
            			$('.service').css('display','');
            		}else{
            			$('.service').css('display','none');
            			var price_0 = '';
            			$('input[name=adult_price]').val(price_0);
            			$('input[name=c_ticket_price]').val(price_0);
            			$('input[name=adult_price_p]').val(price_0);
            			$('input[name=c_ticket_price_p]').val(price_0);
            		}
            	$('.sel-type').on('change',function(){
            		var isgoods = $('.sel-type option:selected').attr('data-isgoods');
            		var type = $('.sel-type option:selected').val();
            		if(type == 'service'){
            			$('.service').css('display','');
            		}else{
            			$('.service').css('display','none');
            			var price_0 = '';
            			$('input[name=adult_price]').val(price_0);
            			$('input[name=c_ticket_price]').val(price_0);
            			$('input[name=adult_price_p]').val(price_0);
            			$('input[name=c_ticket_price_p]').val(price_0);
            		}
            		if(isgoods == 1){
            			$('.goods').css('display','');
            		}else{
            			$('.goods').css('display','none');
            			var price_0 = '';
            			$('input[name=goods_price]').val(price_0);
            		}
            	});
                var images = $('#'+id).val();
                var arr = null;
                var htm = "";
                if (images!='') {
                    arr = images.split(',');
                    for(i=0;i<arr.length;i++) {
                        htm += '<li><img src="' + arr[i] + '" /><p><a href="javascript:;" onclick="mainPage.setDefaultImage(this)">默认</a> <a href="javascript:;" onclick="mainPage.delImage(this)" >删除</a></p></li>';
                    }
                    $('#pre-' + id + ' ul').html(htm);
                }
            },
        });
    </script>
</block>
