<extend name="Public:base"/>
<block name="navbar"><h3><i class="fa fa-list"></i>{$caption}</h3><em>
    <a href="{:U('Info/add')}"><i class="fa fa-plus"></i>增加信息</a>&nbsp;&nbsp;</em></block>
<block name="content">
    <div class="modbox">
        <div class="modbox-head"></div>
        <div class="modbox-body">
            <div class="panel">
                <form method="get" action="{:U('Info/index')}">
                    <table class="searchtable">
                        <tbody>
                        <tr>
                            <th>标题：</th>
                            <td><input type="text" name="title" class="edit" value="{:I('title')}"/></td>
                            <th>类型：</th>
                            <td>
                                <select name="module">
                                    <option value="">选择</option>
                                    <volist name="moduleList" id="vo">
                                        <option value="{$key}"
                                        <if condition="$key eq $_GET['module']">selected</if>
                                        >{$vo.title}</option>
                                    </volist>
                                </select>
                            </td>
                            <th>状态：</th>
                            <td>
                                <select name="status">
                                    <option value="">选择</option>
                                    <volist name="statusList" id="vo">
                                        <option value="{$key}"
                                        <if condition="($Think.get.status neq '') && ($key heq $_GET['status'])">
                                            selected
                                        </if>
                                        >{$vo.title}</option>
                                    </volist>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>会员ID：</th>
                            <td><input type="text" name="uid" class="edit" value="{:I('uid')}"/></td>
                            <th>会员名：</th>
                            <td colspan="3"><input type="text" name="username" class="edit" value="{:I('username')}" size="36" placeholder="用户名/手机号/Email/昵称"/></td>
                        </tr>

                        <tr>
                            <th>国家/地区：</th>
                            <td><select id="sel-country" name="country"></select></td>
                            <th>城市：</th>
                            <td colspan="3"><select id="sel-city" name="city"></select></td>
                        </tr>
                        <tr>
                            <th>领域：</th>
                            <td><select id="sel-realm" name="realm"></select></td>
                            <th>领域细分：</th>
                            <td colspan="3"><select id="sel-realm2" name="realm2"></select></td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>排序：</th>
                            <td>
                                <select name="order">
                                    <volist name="orderList" id="vo">
                                        <option value="{$vo.value}"
                                        <if condition="$Think.get.order eq $vo['value']">selected</if>
                                        >{$vo.text}</option>
                                    </volist>
                                </select>
                            </td>
                            <td colspan="4">
                                <button type="reset" class="button button-gray">重 置</button>
                                <button class="button" type="submit"><i class="fa fa-search"></i> 搜 索</button>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </form>
            </div>
            <form method="post" action="{:U('Info/batch')}">
                <table class="listtable">
                    <thead>
                    <tr>
                        <th style="width:80px;">编号</th>
                        <th style="width:300px;">标题</th>
                        <th style="width:120px;">会员</th>
                        <th>领域</th>
                        <th>地区</th>
                        <th>评论</th>
                        <th>关注</th>
                        <th>置顶</th>
                        <th>热度</th>
                        <th style="width:112px;">发布时间</th>
                        <th style="width:60px;">状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <volist name="list" id="item">
                        <tr>
                            <td><label><input type="checkbox" name="id[]" value="{$item.id}"/> {$item.id}</label></td>
                            <td>[{$item.modulestr}] <a href="{:U('Info/detail?id='.$item['id'])}">{$item.title}</a></td>
                            <td>{$item.memname}</td>
                            <td>{$item.realmstr} > {$item.realm2str}</td>
                            <td>{$item.countrystr} > {$item.citystr}</td>
                            <td><a href="{:U('Comment/index')}?iid={$item.id}">{$item.reviewnum}</a></td>
                            <td>{$item.favnum}</td>
                            <td>{$item.istop}</td>
                            <td>{$item.heat}</td>
                            <td>{$item.addtime|date='Y-m-d H:i',###}</td>
                            <td>
                                <switch name="item.status">
                                    <case value="0">未审核</case>
                                    <case value="1">已审核</case>
                                    <case value="2">已锁定</case>
                                </switch>
                            </td>
                            <td>&nbsp;<a href="{:U('Info/edit?id='.$item['id'])}"><i class="fa fa-edit"></i>修改</a>&nbsp;&nbsp;
                                <a href="{:U('Info/detail?id='.$item['id'])}"><i class="fa fa-edit"></i>查看</a>&nbsp;&nbsp;
                                <a href="{:U('Info/lock?id='.$item['id'])}"><i class="fa fa-level-down"></i>下线</a>&nbsp;&nbsp;
                                <a href="{:U('Info/unlock?id='.$item['id'])}"><i class="fa fa-level-up"></i>上线</a>&nbsp;&nbsp;
                                <notempty name="perview.delete"><a href="{:U('Info/delete?id='.$item['id'])}" data-rel="delete"><i class="fa fa-remove"></i>删除</a></notempty>
                            </td>
                        </tr>
                    </volist>
                    <empty name="list">
                        <tr>
                            <td colspan="12"><p class="center">暂无信息</p></td>
                        </tr>
                    </empty>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td><label><input type="checkbox" data-rel="selectall"/> 全选</label>&nbsp;&nbsp;</td>
                        <td colspan="11">
                            <label><input type="radio" name="op" value="check" checked /> 审核</label>&nbsp;&nbsp;
                            <!--<label><input type="radio" name="op" value="top"/> 置顶</label>&nbsp;-->
                            <label><input type="radio" name="op" value="untop"/> 取消置顶</label>&nbsp;&nbsp;
                            <label><input type="radio" name="op" value="lock"/> 下线</label>&nbsp;&nbsp;
                            <label><input type="radio" name="op" value="unlock"/> 上线</label>&nbsp;
                            <button type="submit" class="button"><i class="fa fa-refresh"></i>批量操作</button>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </form>
            <div class="pages">{$multi}</div>
        </div>
    </div>

</block>
<block name="script">
    <script>
        $.extend(basePage, {
            onInit: function () {
                var that = this;
                that.initSelect();
            },
            initSelect: function () {
                var that = this;
                that.districtList = {$districtList|json_encode};
                that.realmList = {$realmList|json_encode};
                var country = "{$Think.get.country}";
                var city = "{$Think.get.city}";
                var realm = "{$Think.get.realm}";
                var realm2 = "{$Think.get.realm2}";
                that.fillCountry('#sel-country', country);
                that.fillCity('#sel-city', country, city);
                that.fillRealm('#sel-realm', realm);
                that.fillRealm2('#sel-realm2', realm, realm2);
                $('#sel-country').change(function () {
                    var country = this.options[this.selectedIndex].value;
                    that.fillCity('#sel-city', country, '');
                });
                $('#sel-realm').change(function () {
                    var realm = this.options[this.selectedIndex].value;
                    that.fillRealm2('#sel-city', realm, '');
                });
            }
        });
    </script>
</block>